body {
  background-color: red;
}
#head {
  background-image: url(source/images/header.jpg);
  background-color: #1B5DC3;
}

header {
  margin-top: 50px;
  margin-bottom: 100px;
}

#logo {
  width: 159px;
}

#section-whatis {
  padding-top: 35px;
  padding-bottom: 35px;
}

#purposes {
  padding-top: 45px;
  padding-bottom: 45px;
}
.icon-purpose {
  width: 160px;
  height: 160px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.copy-purposes {
  color: $white;
}

#house-features {
  padding-top: 45px;
  padding-bottom: 55px;
}

.first-tab-features {
  margin-top: 60px;
  padding-top: 50px;
}
.second-tab-features {
  margin-top: 60px;
  padding-top: 50px;
}

.icon-features {
  width: 120px;
}

.p-features {
  font-weight: bold;
  font-size: 17px;
}

.waiting {
  font-size: 25px;
  font-weight: bold;
}

#ready-join {
  padding-top: 50px;
  padding-bottom: 50px;
}
.creators {
  margin-top: 35px;
  margin-bottom: 35px;
}
.founders {
  width: 220px;
}
footer {
  padding: 20px;
}
